.article
  .article-left
    a(ui-sref=".article({id: ctrl.article.id})")
      img(src="{{ctrl.article.thumbnail}}")
  .article-right
    .article-title
      p
        | {{ctrl.article.created_time}}
        a.span_link(href="#")
          span.glyphicon.glyphicon-comment
          | 0
        a.span_link(href="#")
          span.glyphicon.glyphicon-eye-open
          | 104
        a.span_link(href="#")
          span.glyphicon.glyphicon-thumbs-up
          | 52
      a.title(ui-sref=".article({id: ctrl.article.id})")  {{ctrl.article.title}}
    .article-text
      p
        | {{ctrl.article.content}}
      a(href="single.html")
        img(src="images/more.png", alt="")
      .clearfix
  .clearfix