.media.response-info
  .media-left.response-text-left
    h5
      a(href='#') {{ctrl.comment.user_id.full_name}}
  .media-body.response-text-right
    p {{ctrl.comment.content}}
    ul
      li {{ctrl.comment.created_time_string}}
  .clearfix 