.user-info
  header
    h3.title-head Thông tin cá nhân 
  form.form-horizontal(role='form', method='post')
    fieldset
      // Text input
      .form-group
        label.col-md-3.control-label(for='username') Tên tài khoản
        .col-md-8
          .input-group
            .input-group-addon
              i.fa.fa-user
            input.form-control.input-md(id='username', name='username', type='text', placeholder='Tên tài khoản', disabled, ng-model='user.username')

      .form-group
        label.col-md-3.control-label(for='fullName') Họ tên
        .col-md-8
          .input-group
            .input-group-addon
              i.fa.fa-male
            input.form-control.input-md(id='fullName', name='fullName', type='text', placeholder='Tên', ng-model='user.full_name')

      // Text input
      .form-group
        label.col-md-3.control-label(for='birthday')
        .col-md-8.dropdown
          a#dropdown2.dropdown-toggle(role='button', data-toggle='dropdown')
            .input-group
              .input-group-addon
                i.fa.fa-birthday-cake
              input.form-control.input-md.date-of-birth(data-ng-model="user.date_of_birth", id='birthday', name='birthday', type="date", placeholder='Ngày sinh', data-on-set-time="onTimeSet(newDate, oldDate)")

          ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
            datetimepicker(data-ng-model='user.date_of_birth', data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }")
      // Text input
      .form-group
        label.col-md-3.control-label(for='email') Email
        .col-md-8
          .input-group
            .input-group-addon
              i.fa.fa-envelope-o
            input.form-control.input-md(id='email', name='email', type='text', placeholder='Email', ng-model='user.email')

      .form-group
        label.col-md-3.control-label(for='gender') Giới tính
        .col-md-8
          label.radio-inline(for='gender-1')
            input#Gender-1(type='radio', name='gender', ng-model="user.gender", ng-checked='{{user.gender == 1}}', value='1')
            |       Nam
          label.radio-inline(for='Gender-2')
            input#Gender-2(type='radio', name='gender', ng-model="user.gender", ng-checked='{{user.gender == 2}}', value='2')
            |       Nữ
          label.radio-inline(for='Gender-3')
            input#Gender-3(type='radio', name='gender', ng-model="user.gender", ng-checked='{{user.gender == 3}}', value='3')
            |      Khác


      .form-group
        div.submit
          button.btn(data-toggle="modal", data-target="#confirmation")
            span.glyphicon.glyphicon-thumbs-up
            |  Hoàn tất

      #confirmation.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal') ×
              h4.modal-title Bạn có chắc chắn muốn lưu thông tin thay đổi?
            .modal-body
              button.btn.btn-danger(data-dismiss='modal') Không
              button.btn.btn-success(ng-click="updateInfo()") Đồng ý
  // /.col-lg-12
// /.row
