// STYLES
// build:css lib/css/main.min.css
link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
// endbuild

// SCRIPTS
// build:js lib/js/main.min.js
script(type='text/javascript', src='components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='components/angular/angular.min.js')
script(type='text/javascript', src='components/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='components/angular-resource/angular-resource.min.js')
// endbuild