// STYLES
// build:css lib/css/main.min.css
link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
link(rel='stylesheet', href='components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css')
// endbuild

// SCRIPTS
// build:js lib/js/main.min.js
script(type='text/javascript', src='components/jquery/dist/jquery.min.js')
script(type='text/javascript', src='components/bootstrap/dist/js/bootstrap.min.js')
script(type='text/javascript', src='components/angular/angular.min.js')
script(type='text/javascript', src='components/angular-ui-router/release/angular-ui-router.min.js')
script(type='text/javascript', src='components/angular-resource/angular-resource.min.js')
script(type='text/javascript', src='components/angular-cookies/angular-cookies.min.js')
script(type='text/javascript', src='components/moment/moment.js')
script(type='text/javascript', src='components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js')
script(type='text/javascript', src='components/angular-bootstrap-datetimepicker/src/js/datetimepicker.templates.js')
script(type='text/javascript', src='components/angular-md5/angular-md5.min.js')
script(type='text/javascript', src='components/ngScrollTo/ng-scrollto.js')
// endbuild