.footer
  .footer-top
    .wrap
      .col-md-5.col-xs-6.col-sm-4.footer-grid
        h4.footer-head Về chúng tôi
        p
          | Là những sinh viên nghèo vượt khó, hội tụ của những tinh hoa độc nhất vô nhị.
        p
          | Là những con người có đam mê và quyết tâm theo đuổi đam mê.
      .col-md-3.col-xs-6.col-sm-2.footer-grid
        h4.footer-head Danh mục
        ul.cat
          li
            a(href="/#/category/1") Kinh tế
          li
            a(href="/#/category/1") Công nghệ
          li
            a(href="/#/category/1") Giải trí
          li
            a(href="/#/category/1") Thể thao
          li
            a(href="/#/category/1") Thời trang
      .col-md-3.col-xs-12.footer-grid
        h4.footer-head Liên hệ
        span.hq Đại bản doanh của chúng tôi
        address
          ul.location
            li
              span.glyphicon.glyphicon-map-marker
            li Tòa nhà hoàng gia, số 30 ngõ Thiên Đường, Mặt Trời Mới. 
            .clearfix
          ul.location
            li
              span.glyphicon.glyphicon-earphone
            li +0 561 111 222
            .clearfix
          ul.location
            li
              span.glyphicon.glyphicon-envelope
            li
              a(href="mailto:onews@onews.com") onews@onews.com
            .clearfix
      .clearfix
  .footer-bottom
    .wrap
      .footer-social-icons.col-md-6
        ul
          li
            a.facebook(href="facebook.com.vn")
          li
            a.twitter(href="twitter.com")
          li
            a.flickr(href="flickr.com")
          li
            a.googleplus(href="#")
          li
            a.dribbble(href="#")
      .clearfix
