header
  h3.title-head {{ctrl.category.name}}
div.list-articles(ng-repeat="article in ctrl.articles")
  article-info(article='article', ng-if="ctrl.listArticlesType==1")
  article-info-less(article='article', ng-if="ctrl.listArticlesType==2")
div.pages
  ul.pagination(ng-if='ctrl.pager.pages.length && ctrl.pagination')
    li(ng-class='{disabled:ctrl.pager.currentPage === 1}')
      a(ng-click='ctrl.setPage(1)', scroll-to="") Đầu
    li(ng-class='{disabled:ctrl.pager.currentPage === 1}')
      a(ng-click='ctrl.setPage(ctrl.pager.currentPage - 1)', scroll-to="") Trước
    li(ng-repeat='page in ctrl.pager.pages', ng-class='{active:ctrl.pager.currentPage === page}')
      a(ng-click='ctrl.setPage(page)', scroll-to="") {{page}}
    li(ng-class='{disabled:ctrl.pager.currentPage === ctrl.pager.totalPages}')
      a(ng-click='ctrl.setPage(ctrl.pager.currentPage + 1)', scroll-to="") Tiếp
    li(ng-class='{disabled:ctrl.pager.currentPage === ctrl.pager.totalPages}')
      a(ng-click='ctrl.setPage(ctrl.pager.totalPages)', scroll-to="") Cuối