.footer
  .footer-top
    .wrap
      .col-md-3.col-xs-6.col-sm-4.footer-grid
        h4.footer-head About Us
        p
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        p
          | The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here.
      .col-md-2.col-xs-6.col-sm-2.footer-grid
        h4.footer-head Categories
        ul.cat
          li
            a(href="business.html") Business
          li
            a(href="technology.html") Technology
          li
            a(href="entertainment.html") Entertainment
          li
            a(href="sports.html") Sports
          li
            a(href="shortcodes.html") Health
          li
            a(href="fashion.html") Fashion
      .col-md-4.col-xs-6.col-sm-6.footer-grid
        h4.footer-head Flickr Feed
        ul.flickr
          li
            a(href="#")
              img(src="images/bus4.jpg")
          li
            a(href="#")
              img(src="images/bus2.jpg")
          li
            a(href="#")
              img(src="images/bus3.jpg")
          li
            a(href="#")
              img(src="images/tec4.jpg")
          li
            a(href="#")
              img(src="images/tec2.jpg")
          li
            a(href="#")
              img(src="images/tec3.jpg")
          li
            a(href="#")
              img(src="images/bus2.jpg")
          li
            a(href="#")
              img(src="images/bus3.jpg")
          .clearfix
      .col-md-3.col-xs-12.footer-grid
        h4.footer-head Contact Us
        span.hq Our headquaters
        address
          ul.location
            li
              span.glyphicon.glyphicon-map-marker
            li CENTER FOR FINANCIAL ASSISTANCE TO DEPOSED NIGERIAN ROYALTY
            .clearfix
          ul.location
            li
              span.glyphicon.glyphicon-earphone
            li +0 561 111 235
            .clearfix
          ul.location
            li
              span.glyphicon.glyphicon-envelope
            li
              a(href="mailto:info@example.com") mail@example.com
            .clearfix
      .clearfix
  .footer-bottom
    .wrap
      .copyrights.col-md-6
        p
          | © 2015 Express News. All Rights Reserved | Design by  
          a(href="http://w3layouts.com/")  W3layouts
      .footer-social-icons.col-md-6
        ul
          li
            a.facebook(href="#")
          li
            a.twitter(href="#")
          li
            a.flickr(href="#")
          li
            a.googleplus(href="#")
          li
            a.dribbble(href="#")
      .clearfix
