li(ng-repeat="child in menu.children", ng-class="{'dropdown': {{child.children.length>0}}}")
  a(href="{{child.url}}") {{child.name}}
    b.caret(ng-if="child.children.length>0")
  ul.dropdown-menu(ng-if="child.children.length>0")
    tree(menu="child")