//- // STYLES
//- // build:css frontend/onews.min.css
//- link(rel='stylesheet', href='components/bootstrap/dist/css/bootstrap.min.css')
//- // endbuild

// SCRIPTS
// build:js frontend/onews.min.js
script(type='text/javascript', src='frontend/app.module.js')
script(type='text/javascript', src='frontend/app.config.js')
// endbuild