.content-left.single-post
  ol.breadcrumb
    li
      a(href='/#/') Home
    li(ng-if='category.level == 2')
      a(href='{{category.parent_id.url}}') {{category.parent_id.name}}
    li.active
      a.active(href='{{category.url}}') {{category.name}}

  .blog-posts
    h3.post
      | {{article.title}}
    .blog-image
      a(ui-sref=".article({id: article.id})")
        img(src='{{article.img}}', alt='')
    .last-article(ng-repeat="part in article.content")
      p.artext
        | {{part}}

    ul.categories
      li(ng-repeat="category in categories")
        a(href='{{category.url}}') {{category.name}}

    .clearfix
    // related-posts    
    related-articles(category='{{category.id}}')
    // //related-posts
    responses(article='article.id')

        
