.content-left.single-post
  .blog-posts
    h3.post
      | Donald Trump News - Donald Trump Special Reports - Summarizes the latest news about Donald Trump
    .last-article
      p.artext
        | With Cameron immediately renewing his pledge to hold a referendum on British membership of the European Union, the result throws up questions about Britain’s constitutional future. For now, the surprise victory was welcomed by markets, with stocks and the pound rallying as it became clear Cameron had defied forecasts of a hung parliament to easily defeat Ed Miliband’s Labour Party and govern alone.
      h3 Donald Trump News - Donald Trump Special Reports
      iframe(src='https://www.youtube.com/embed/mbDg4OG7z4Y', frameborder='0', allowfullscreen='')
      p.artext
        | The premier was meeting with Queen Elizabeth II at Buckingham Palace as the Conservatives reached the 326-seat threshold that allows them
        | to ditch their Liberal Democrat coalition partners and govern alone in the 650-seat Parliament.
      p.artext
        | The premier was meeting with Queen Elizabeth II at Buckingham Palace as the Conservatives reached the 326-seat threshold that allows them
        | to ditch their Liberal Democrat coalition partners and govern alone in the 650-seat Parliament.
      ul.categories
        li
          a(href='#') Markets
        li
          a(href='#') Business
        li
          a(href='#') Sport
        li
          a(href='#') Special reports
        li
          a(href='#') Culture
      .clearfix
      // related-posts    
      related-articles(category='category')
      // //related-posts
      responses(article='article.id')

        
