.row.related-posts
  h4 Có thể bạn sẽ thích
  .col-xs-6.col-md-3.related-grids(ng-repeat="article in ctrl.relatedArticles")
    a.thumbnail(href='{{article.url}}')
      img(src='{{article.img}}', alt='')
    h5
      a(href='{{article.url}}') {{article.title}}