
link(rel='stylesheet', href='admin/onews-admin.min.css')

.container-admin-login
  .login-container
    #output
    .avatar
    .form-box
      form(method='post')
        input(name='user', type='text', placeholder='Tài khoản', ng-model='user.username')
        input(type='password', placeholder='Mật khẩu', ng-model='user.password')
        .btn.btn-info.btn-block.login(ng-click='login()') Đăng nhập
        .error(ng-if='error') {{error}}