
link(rel='stylesheet', href='admin/onews-admin.min.css')

.container-admin-login
  .login-container
    #output
    .avatar
    .form-box
      form(action='', method='', ng-submit='login()')
        input(name='user', type='text', placeholder='Tài khoản', ng-model='user.username')
        input(type='password', placeholder='Mật khẩu', ng-model='user.password')
        button.btn.btn-info.btn-block.login(type='submit', ng-click='login()') Đăng nhập {{user.username}}