.admin {
  .sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  h3.title {
    margin-top: 1.5%;
  }
  .form-group {
    width: 70%;
  }
  span.option {
    margin-left: 2%;
  }
}
.error {
  color: red;
}