h3.title Create User
hr
form(method='POST')
  div.form-group
    label(for='full_name') Full Name:
    input#full_name.form-control(type='text', name='full_name', required='true', ng-model='user.full_name' )
  div.form-group
    label(for='username') Username:
    input#username.form-control(type='text', name='full_name', required='true', ng-model='user.username' )
    span.error(ng-if='error') {{error}}
  div.form-group
    label(for='password') Password:
    input#password.form-control(type='password', name='full_name', ng-model='user.password' )
  div.form-group
    label(for='email') Email:
    input#email.form-control(type='text', name='email', ng-model='user.email' )
  div.form-group
    label(for='birthday') Birthday:
    input.form-control.input-md.date-of-birth(data-ng-model="user.date_of_birth", id='birthday', name='birthday', type="date", data-on-set-time="onTimeSet(newDate, oldDate)")

    ul.dropdown-menu(role='menu', aria-labelledby='dLabel')
      datetimepicker(data-ng-model='user.date_of_birth', data-datetimepicker-config="{ dropdownSelector: '#dropdown2', startView:'day', minView:'day' }")
  div.form-group
    label.ontrol-label(for='gender') Gender
    label.radio-inline(for='gender-1')
      input#Gender-1(type='radio', name='gender', ng-model="user.gender", value='1')
      |       Male
    label.radio-inline(for='Gender-2')
      input#Gender-2(type='radio', name='gender', ng-model="user.gender", value='2')
      |       Female
    label.radio-inline(for='Gender-3')
      input#Gender-3(type='radio', name='gender', ng-model="user.gender", value='3')
      |      Others
  button.btn.btn-primary(data-toggle="modal", data-target="#confirmation") Submit

h2.error(ng-if='error') {{error}}

#confirmation.modal.fade(role='dialog')
  .modal-dialog
    // Modal content
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal') ×
        h4.modal-title Are you sure ?
      .modal-body
        button.btn.btn-danger(data-dismiss='modal') No
        button.btn.btn-success(ng-click='createUser()') Yes