nav.navbar.navbar-inverse(role='navigation')
  .navbar-header
    a.navbar-brand(ui-sref='#') AngularUI Router
  ul.nav.navbar-nav
    li
      a(ui-sref='home') Home
    li
      a(ui-sref='about') About