.article-info-less
  .c-image
    a(href='single.html')
      img(src='{{ctrl.article.thumbnail}}', alt='')
  .c-text
    a.power(href='single.html') {{ctrl.article.title}}
    p.date {{ctrl.article.created_time}}
    a.reu(href='single.html')
      img(src='images/more.png', alt='')
    .clearfix
  .clearfix
