.article-info-less
  .c-image
    a(ui-sref=".article({id: ctrl.article.id})")
      img(src='{{ctrl.article.img}}', alt='')
  .c-text
    a.power(ui-sref=".article({id: ctrl.article.id})") {{ctrl.article.title}}
    p.date {{ctrl.article.created_time_string}}
    a.reu(ui-sref=".article({id: ctrl.article.id})")
      img(src='images/more.png', alt='')
    .clearfix
  .clearfix
