.article-info-less
  .c-image
    a(href="{{ctrl.article.url}}")
      img(src='{{ctrl.article.img}}', alt='')
  .c-text
    a.power(href="{{ctrl.article.url}}") {{ctrl.article.title}}
    p.date {{ctrl.article.created_time_string}}
    .clearfix
  .clearfix
